# Application
public/plugins/*
!public/plugins/.gitkeep
public/mu-plugins/*
!public/mu-plugins/.gitkeep
public/themes/*
!public/themes/app/
public/upgrade/
public/uploads/
public/cache/
public/db.php
var/log/*
!var/log/.gitkeep

# WordPress
public/wp/
public/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/

# WP-CLI
wp-cli.local.yml

# Phive
tools/
