# Application
public/mu-plugins/*/
public/plugins/*
!public/plugins/.gitkeep
public/themes/*
!public/themes/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
public/upgrade/
public/cache/
public/db.php
var/log/*
!var/log/.gitkeep

# WordPress
public/wp/
public/.htaccess

# Dotenv
.env.local.*
!.env.example

# Composer
vendor/

# WP-CLI
wp-cli.local.yml

# Phive
tools/
