# Application
public/mu-plugins/*/
public/plugins/*
!public/plugins/.gitkeep
public/themes/*
!public/themes/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
var/log/*
!var/log/.gitkeep
var/build/

# Dotenv
.env.local.*
!.env.example

# WordPress
public/wp-admin
public/wp-content
public/wp-includes
public/upgrade
public/cache
public/index.php
public/xmlrpc.php
public/db.php
public/wp-*.php
public/license.txt
public/readme.html

# WP-CLI
wp-cli.local.yml

# Composer
vendor/

# Tools
tools/*
!tools/dotenv-dump.php
